/auto-save-list
/eln-cache
/elpa

/rime/*
!/rime/*.custom.yaml

/transient
/tutorial
/bookmarks
/custom.el
/projectile-bookmarks.eld
/recentf

/.last-package-update-day
/.lsp-session-v1
/tramp

/projects

/backups

/url
/.org-id-locations
/eshell/
/tabsession.el
/dotfiles/
/persp-state
/org-roam.db
